<h1>Sobre</h1>
<br>
<p>Plataforma de venda e compra de produtos</p>
<p>A aplicação web consiste em um mercado online de compra e venda, onde usuários podem divulgar seus produtos e serviços diversos após efetuarem o cadastro/login no site.</p>
