<p>Hello <%= @resource.email %>!</p>

<p>Alguem requisitou um link para mudança de senha. Voce pode fazer isto atraves do link abaixo.</p>



<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se voce não pediu por isso ignore este email.</p>
<p>Sua senha não ira mudar até voce acessar o link abaixo e criar uma nova.</p>
